<div class="container mt-5">
  <%= link_to "Go back to home page", root_path %>

  <div class="w-50 mx-auto text-center">
    <h1 class="mb-5">Your url info:</h1>

    <div class="text-left">
      <p>Original url: <%= @url.original_url %></p>
      <p>Your new tiny url: <%= ENV['SERVER_URL'] %>/<%= @url.token %></p>
      <p>Visitors count: <%= @url.visitors_count %></p>

      <%= link_to "Go to my page!", token_page_path(@url.token), target: "blank", class: "btn btn-secondary" %>
    </div>
  </div>
</div>
